@font-face {
  font-family: "IRANsans";
  src: url("FontsFree-Net-ir_sans.ttf");
}
* {
  font-family: "IRANsans";
}
header {
  height: 30%;
}
.head-image {
  object-fit: cover;
  height: 60%;
  width: 100%;
}
.nav-item {
  margin-right: 7px;
}
main {
  margin-top: 10px;
}
.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card {
  margin-top: 20px;
  box-shadow: 10px 5px 5px rgb(167, 167, 167);
}
.card:hover {
  transform: scale(1.02);
  transition: all 0.4s ease-out;
}
.card a {
  background: rgb(214, 26, 26);
  color: rgb(255, 255, 255);
}
.card-text {
  text-align: center;
}
.card-title {
  text-align: left;
}
.card-head {
  display: flex;
  width: 100%;
}
a[class="btn btn-primary"] {
  margin: 10px 20px 5px 30px;

  width: 120px;
  height: 38px;
}
i[class="bi bi-star"] {
  margin: 20px 3px 20px;
  order: 1;
  color: rgb(255, 215, 0);
}
.wrapper .bottom-hover {
  background-color: #ff0063;
  display: inline-block;
  height: 40px;
  width: 40px;
  float: left;
  margin: 0 5px;
  border-radius: 50px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease-out;
  color: rgb(255, 255, 255);
}
.wrapper .bottom-hover .ic {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 40px;
  float: left;
  margin-top: 3px;
}
bi-cart3 {
  font-size: 15px;
  line-height: 40px;
}
.wrapper .bottom-hover:hover {
  width: 90px;
}
.wrapper .bottom-hover span {
  font-size: 15px;
  line-height: 40px;
  margin-right: 10px;
}
.wrapper .bottom-hover:active {
  color: black;
}
.card-img-top {
  width: 286px;
  height: 261px;
  object-fit: cover;
}
footer {
  margin-top: 40px;
  background: rgb(114, 114, 114);
  color: rgb(255, 255, 255);

  height: auto;
}
.aboutus {
}
.aboutus h2 {
  margin-top: 60px;
  margin-right: 40px;
}
.aboutus-text {
  margin-top: 20px;
  margin-right: 40px;
}
.social {
  margin: 80px 10px 0 0;
  padding: 0;
  margin-left: 0;
}
.social h5 {
  font-size: 15px;
}
.social-icon {
  margin-top: 20px;
  margin-left: 0;
  display: inline-block;
}
.social-icon i {
  margin: 15px;
}
